body {
  h1,
  h2,
  &.editor-styles-wrapper h1 {
    @apply text-fs-2-xl md:text-fs-max-36;
  }
  h3 {
    @apply text-fs-base leading-normal md:text-fs-xl;
  }

  h2.ta-secondary-heading {
    @apply text-clr-secondary;
  }
}
.sidebar {
  h3 {
    @apply lg:text-fs-2-xl text-clr-primary;
  }
  .ta-sidebar-search {
    h3 {
      @apply lg:text-fs-xl text-clr-black;
    }
  }
}
