body {
  h2 {
    @apply lg:text-fs-max-36;
  }
  h3 {
    @apply lg:text-fs-xl;
  }
}
.sidebar {
  h3 {
    @apply lg:text-fs-2xl text-clr-primary;
  }
  .ta-sidebar-search {
    h3 {
      @apply lg:text-fs-xl text-clr-black;
    }
  }
}
