.ta-mobile-search {
  @apply lg:hidden;
}

.wp-block-search {
  .wp-block-search__button {
    @apply ml-0 bg-clr-secondary rounded-r box-border border border-clr-secondary;
  }
  .wp-block-search__inside-wrapper {
    @apply rounded border-none;
  }
  .wp-block-search__input {
    @apply rounded-l p-4 border border-r-0 border-clr-secondary border-solid;
  }
}
