<!-- wp:template-part {"slug":"header","theme":"rutgers","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:columns -->
  <div class="wp-block-columns">
    <!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis: 66.66%">
      <!-- wp:query-title {"type":"archive","className":"ta-page-title"} /-->

      <!-- wp:query {"queryId":10,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":2},"className":"ta-query-loop-wrapper"} -->
      <div class="wp-block-query ta-query-loop-wrapper">
        <!-- wp:post-template -->
        <!-- wp:columns -->
        <div class="wp-block-columns">
          <!-- wp:column {"width":"60%"} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:post-terms {"term":"post_tag","className":"ta-category-listing"} /-->

            <!-- wp:post-title {"isLink":true} /-->

            <!-- wp:post-author {"avatarSize":24,"showAvatar":false,"showBio":false,"byline":"By ","className":"post-author"} /-->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"width":"40%"} -->
          <div class="wp-block-column" style="flex-basis: 40%">
            <!-- wp:post-featured-image {"isLink":true} /-->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->

        <!-- wp:post-excerpt /-->

        <!-- wp:read-more /-->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination {"paginationArrow":"chevron"} -->
        <!-- wp:query-pagination-previous /-->

        <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination -->

        <!-- wp:query-no-results -->
        <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when the query returns no results."} -->
        <p>Sorry, we couldn't find any content.</p>
        <!-- /wp:paragraph -->
        <!-- /wp:query-no-results -->
      </div>
      <!-- /wp:query -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis: 33.33%">
      <!-- wp:template-part {"slug":"sidebar-1","theme":"rutgers"} /-->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"rutgers","tagName":"footer"} /-->
