<!-- wp:template-part {"slug":"header","theme":"rutgers","tagName":"header"} /-->

<!-- wp:group {"className":"alignfull is-style-full-width ta-lottie-container","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull is-style-full-width ta-lottie-container"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
  <div class="wp-block-group alignfull"><!-- wp:html -->
    <!-- Hero Banner / Lottie Animation Space -->
    <section id="ta-hero-area" class="w-full ta-container ta-container-full">
      <lottie-player src="https://lottie.host/3cae7589-a9dd-40aa-9331-7e2011bfa182/lZjLCC8Nwh.json" background="transparent" speed="1" style="width: 100%" autoplay=""></lottie-player>
      <!-- <ul class="flex flex-row w-full px-8 space-x-5">
                              <li class="">
                                <img src="images/ezgif.com-gif-maker - 1.jpg" alt="" />
                              </li>
                            </ul> -->
    </section>
    <!-- /wp:html --></div>
  <!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"ta-qucklinks-2","layout":{"type":"constrained"}} -->
<div class="wp-block-group ta-qucklinks-2"><!-- wp:navigation {"ref":19,"overlayMenu":"never","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"blockGap":"var:preset|spacing|10"}},"fontSize":"fs-small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"ta-mobile-search","layout":{"type":"constrained"}} -->
<div class="wp-block-group ta-mobile-search"><!-- wp:search {"label":"","showLabel":false,"placeholder":"Search","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"alignfull","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":""} -->
  <div class="wp-block-columns"><!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"className":"alignfull","layout":{"type":"constrained"}} -->
      <div class="wp-block-group alignfull"><!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group"><!-- wp:heading {"className":"text-clr-primary"} -->
          <h2 class="text-clr-primary">Student Academic Success</h2>
          <!-- /wp:heading -->

          <!-- wp:paragraph {"className":"is-style-big-text"} -->
          <p class="is-style-big-text">
            Your success is our success! We're here with coaching, tutoring,
            study-skill workshops, and more to help you stay on track. Explore
            opportunities for financial assistance, community, staying healthy,
            and being safe.
          </p>
          <!-- /wp:paragraph --></div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group"><!-- wp:heading {"level":3} -->
          <h3>
            The pathway to success is paved with support. Student Academic Success
            is here to help you succeed:
          </h3>
          <!-- /wp:heading -->

          <!-- wp:group {"className":"ta-featured-items","layout":{"type":"constrained"}} -->
          <div class="wp-block-group ta-featured-items"><!-- wp:group {"className":"alignfull is-style-default","layout":{"type":"flex","flexWrap":"nowrap"}} -->
            <div class="wp-block-group alignfull is-style-default"><!-- wp:columns {"className":"alignwide"} -->
              <div class="wp-block-columns alignwide"><!-- wp:column -->
                <div class="wp-block-column"><!-- wp:image {"align":"center","id":94,"sizeSlug":"large","linkDestination":"none"} -->
                  <figure class="wp-block-image aligncenter size-large"><img src="https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/Raise-GPA.svg" alt="" class="wp-image-94"/></figure>
                  <!-- /wp:image -->

                  <!-- wp:heading {"textAlign":"center","level":4} -->
                  <h4 class="has-text-align-center">Raise your GPA</h4>
                  <!-- /wp:heading --></div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column"><!-- wp:image {"align":"center","id":97,"sizeSlug":"large","linkDestination":"none"} -->
                  <figure class="wp-block-image aligncenter size-large"><img src="https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/School-to-College.svg" alt="" class="wp-image-97"/></figure>
                  <!-- /wp:image -->

                  <!-- wp:heading {"textAlign":"center","level":4} -->
                  <h4 class="has-text-align-center">
                    Ease transition from high school to college
                  </h4>
                  <!-- /wp:heading --></div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column"><!-- wp:image {"align":"center","id":81,"sizeSlug":"large","linkDestination":"none"} -->
                  <figure class="wp-block-image aligncenter size-large"><img src="https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/Connect.svg" alt="" class="wp-image-81"/></figure>
                  <!-- /wp:image -->

                  <!-- wp:heading {"textAlign":"center","level":4} -->
                  <h4 class="has-text-align-center">
                    Connect with and identity-based group
                  </h4>
                  <!-- /wp:heading --></div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column"><!-- wp:image {"align":"center","id":86,"sizeSlug":"large","linkDestination":"none"} -->
                  <figure class="wp-block-image aligncenter size-large"><img src="https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/Improve-Skills.svg" alt="" class="wp-image-86"/></figure>
                  <!-- /wp:image -->

                  <!-- wp:heading {"textAlign":"center","level":4} -->
                  <h4 class="has-text-align-center">Improve study skills</h4>
                  <!-- /wp:heading --></div>
                <!-- /wp:column --></div>
              <!-- /wp:columns --></div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"alignfull","layout":{"type":"flex","flexWrap":"nowrap"}} -->
            <div class="wp-block-group alignfull"><!-- wp:columns {"className":"alignwide ta-flex-fix-featured"} -->
              <div class="wp-block-columns alignwide ta-flex-fix-featured"><!-- wp:column {"width":"25%"} -->
                <div class="wp-block-column" style="flex-basis:25%"><!-- wp:image {"align":"center","id":74,"sizeSlug":"large","linkDestination":"none"} -->
                  <figure class="wp-block-image aligncenter size-large"><img src="https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/Balance-Time.svg" alt="" class="wp-image-74"/></figure>
                  <!-- /wp:image -->

                  <!-- wp:heading {"textAlign":"center","level":4} -->
                  <h4 class="has-text-align-center">
                    Balance time&nbsp;<br>commitments
                  </h4>
                  <!-- /wp:heading --></div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"25%"} -->
                <div class="wp-block-column" style="flex-basis:25%"><!-- wp:image {"align":"center","id":83,"sizeSlug":"large","linkDestination":"none"} -->
                  <figure class="wp-block-image aligncenter size-large"><img src="https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/Find-Motivation.svg" alt="" class="wp-image-83"/></figure>
                  <!-- /wp:image -->

                  <!-- wp:heading {"textAlign":"center","level":4} -->
                  <h4 class="has-text-align-center">
                    Stop procrastinating&nbsp;<br>and find motivation
                  </h4>
                  <!-- /wp:heading --></div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"25%"} -->
                <div class="wp-block-column" style="flex-basis:25%"><!-- wp:image {"align":"center","id":85,"sizeSlug":"large","linkDestination":"none"} -->
                  <figure class="wp-block-image aligncenter size-large"><img src="https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/Get-on-Track.svg" alt="" class="wp-image-85"/></figure>
                  <!-- /wp:image -->

                  <!-- wp:heading {"textAlign":"center","level":4} -->
                  <h4 class="has-text-align-center">
                    Get back on track&nbsp;<br>with your classwork
                  </h4>
                  <!-- /wp:heading --></div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"25%"} -->
                <div class="wp-block-column" style="flex-basis:25%"></div>
                <!-- /wp:column --></div>
              <!-- /wp:columns --></div>
            <!-- /wp:group --></div>
          <!-- /wp:group --></div>
        <!-- /wp:group -->

        <!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
        <div class="wp-block-group alignfull"><!-- wp:group {"layout":{"type":"constrained"}} -->
          <div class="wp-block-group"><!-- wp:heading -->
            <h2>Service for Students</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>Programs and resources to enhance your Rutgers experience.</p>
            <!-- /wp:paragraph --></div>
          <!-- /wp:group -->

          <!-- wp:group {"align":"full","className":"ta-carousel-container","layout":{"type":"default"}} -->
          <div class="wp-block-group alignfull ta-carousel-container"><!-- wp:html -->
            <!-- Carousel - Services for all the students -->
            <div id="sfas-carousel" class="sfas-carousel min-h-fit pt-12 overflow-hidden">
              <div class="swiper">
                <ul class="swiper-wrapper">
                  <li class="group flex flex-col swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/sfas-1.jpg" alt="">
                    <div class="bg-white px-4 pt-4 ta-rounded-border-div">
                      <h4 class="font-bold">
                        Center for Learning and Student Success
                      </h4>
                      <p>
                        Resources to build your academic skills. Open to all
                        students.
                      </p>
                      <a href="#" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                  <li class="group flex flex-col swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/sfas-2.jpg" alt="">
                    <div class="bg-white px-4 pt-4 ta-rounded-border-div">
                      <h4 class="font-bold">Learning Specialists</h4>
                      <p>
                        Advisers providing strategies for your unique learning
                        needs.
                      </p>
                      <a href="#" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                  <li class="group flex flex-col swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/sfas-3.jpg" alt="">
                    <div class="bg-white px-4 pt-4 ta-rounded-border-div">
                      <h4 class="font-bold">Student Success Coaches</h4>
                      <p>
                        Cultivating the personal and academic success of each
                        student. Open to all students.
                      </p>
                      <a href="#" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                  <li class="group flex flex-col swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/ibs-1.jpg" alt="">
                    <div class="bg-white px-4 pt-4 ta-rounded-border-div">
                      <h4 class="font-bold">First-Generation Students</h4>
                      <p>
                        Support network for First Generation Students and their
                        families. Find scholarships, community, and academic
                        support.
                      </p>
                      <a href="#" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                  <li class="group flex flex-col swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/ibs-2.jpg" alt="">
                    <div class="bg-white px-4 pt-4 ta-rounded-border-div">
                      <h4 class="font-bold">Students with Disabilities</h4>
                      <p>
                        Tools and programs that ensure an accessible environment
                        for all. Find scholarships, community, and academic
                        support.
                      </p>
                      <a href="#" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                  <li class="group flex flex-col swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/ibs-2.jpg" alt="">
                    <div class="bg-white px-4 pt-4 ta-rounded-border-div">
                      <h4 class="font-bold">
                        Fellowships &amp; National Awards
                      </h4>
                      <p>
                        Providing students and alumni with information about
                        available awards and fellowships and application
                        assistance.
                      </p>
                      <a href="https://camden.rutgers.edu/osdfa" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                </ul>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <!-- /wp:html --></div>
          <!-- /wp:group --></div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
          <div class="wp-block-group"><!-- wp:heading -->
            <h2>Programs by Application</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              View the following programs below designed for students with unique
              economic and educational backgrounds.
            </p>
            <!-- /wp:paragraph --></div>
          <!-- /wp:group -->

          <!-- wp:group {"className":"ta-carousel-container","layout":{"type":"constrained"}} -->
          <div class="wp-block-group ta-carousel-container"><!-- wp:html -->
            <!-- Carousel -  Programs by Application -->
            <div id="sfas-carousel" class="sfas-carousel pt-12 overflow-hidden">
              <div class="swiper">
                <ul class="swiper-wrapper">
                  <li class="group flex flex-col w-1/3 swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/pba-1.jpg" alt="">
                    <div class="bg-white pt-4 px-4 ta-rounded-border-div">
                      <h4 class="font-bold">Educational Opportunity Fund</h4>
                      <p>
                        Financial aid for economically and educationally
                        disadvantaged students.
                      </p>
                      <a href="#" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                  <li class="group flex flex-col w-1/3 swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/pba-2.jpg" alt="">
                    <div class="bg-white px-4 pt-4 ta-rounded-border-div">
                      <h4 class="font-bold">TRiO Student Support Services</h4>
                      <p>
                        Federal resources for low-income, first-generation, and
                        students with disabilities.
                      </p>
                      <a href="#" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                  <li class="group flex flex-col w-1/3 swiper-slide shadow-sh-01 ta-rounded-border">
                    <img src="/wp-content/uploads/2022/12/pba-3.jpg" alt="">
                    <div class="bg-white px-4 pt-4 ta-rounded-border-div">
                      <h4 class="font-bold">Camden Fellows</h4>
                      <p>
                        Community and financial support for students with lived
                        experience in the child welfare system.
                      </p>
                      <a href="#" class="ta-carousel__button">Learn More</a>
                    </div>
                  </li>
                </ul>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
            <!-- /wp:html --></div>
          <!-- /wp:group --></div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group"><!-- wp:html -->
          <div class="ta-section-wrapper">
            <div class="ta-testimonials-wrapper relative p-5 px-0 overflow-hidden">
              <img src="/wp-content/uploads/2022/12/quotes-left.svg" class="absolute left-10 top-0 w-10 h-10" alt="">
              <img src="/wp-content/uploads/2022/12/quotes-right.svg" class="absolute right-10 bottom-0 w-10 h-10" alt="">
              <div class="ta-testimonials-wrapper ta-testimonial-inner-section bg-white p-10 lg:p-20">
                <div class="mySwiper overflow-hidden">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <p class="ta-testimonials-text">
                        Rutgers Camden provides a small school atmosphere with
                        big benefits. The name of rutgers allows for many
                        opportunities to work with other programs and
                        institutions. The faculty and staff at Rutgers work
                        diligently to ensure that students have important
                        instruments needed and work to have up to date
                        technology on campus.
                      </p>
                      <p class="ta-testimonial-name">Brianna Soreth, BA '14</p>
                      <p class="ta-testimonial-title">RUTGERS ALUMNI</p>
                    </div>
                    <div class="swiper-slide">
                      <p class="ta-testimonials-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Accusantium, rerum ipsa eum totam nemo modi quae.
                        Officiis beatae, saepe fugit dolore error placeat, ea
                        est in impedit aliquam quod soluta inventore, eius
                        repellendus vel odit sequi nobis aut voluptates tenetur!
                      </p>
                      <p class="ta-testimonial-name">Dianna Soreth, BA '14</p>
                      <p class="ta-testimonial-title">RUTGERS ALUMNI</p>
                    </div>
                    <div class="swiper-slide">
                      <p class="ta-testimonials-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Tempora soluta iste incidunt eaque, ducimus assumenda,
                        veritatis consequuntur dignissimos corrupti ipsam
                        asperiores reiciendis. Reiciendis sint deserunt ipsa
                        pariatur, quia, laudantium dicta voluptas officiis
                        corporis inventore laborum!
                      </p>
                      <p class="ta-testimonial-name">Jon Doe, BA '14</p>
                      <p class="ta-testimonial-title">RUTGERS ALUMNI</p>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- /wp:html --></div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"type":"constrained"}} -->
        <div class="wp-block-group"><!-- wp:heading -->
          <h2>Services for Students</h2>
          <!-- /wp:heading -->

          <!-- wp:paragraph -->
          <p>Programs and resources to enhance your Rutgers experience.</p>
          <!-- /wp:paragraph --></div>
        <!-- /wp:group -->

        <!-- wp:columns {"className":"ta-video-container"} -->
        <div class="wp-block-columns ta-video-container"><!-- wp:column {"width":"66.66%"} -->
          <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:cover {"url":"https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/video-bg.jpg","id":72,"dimRatio":50,"minHeight":284,"minHeightUnit":"px","contentPosition":"center center","isDark":false} -->
            <div class="wp-block-cover is-light" style="min-height:284px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><img class="wp-block-cover__image-background wp-image-72" alt="" src="https://rutgerssasdev.wpengine.com/wp-content/uploads/2022/12/video-bg.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:wpzoom-video-popup-block/block {"url":"https://www.youtube.com/watch?v=3X6TXsRQWY0","text":"","icon":2,"textColor":"clr-base"} -->
              <a class="wp-block-wpzoom-video-popup-block-block wpzoom-video-popup-block has-clr-base-color has-text-color" href="https://www.youtube.com/watch?v=3X6TXsRQWY0"><span class="wpzoom-video-popup-block_icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true"><path d="m14.25 10.367c-1-0.57778-2.2504 0.14388-2.2504 1.2988v8.6674c0 1.155 1.2504 1.8766 2.2504 1.2988l8.2498-4.7666c0.3094-0.1786 0.4998-0.5088 0.4998-0.86588 0-0.35714-0.1904-0.68718-0.4998-0.86586zm-14.25 5.6326c0-8.8366 7.1634-16 16-16 8.8366 0 16 7.1634 16 16 0 8.8366-7.1634 16-16 16-8.8366 0-16-7.1634-16-16zm16-14c-7.732 0-14 6.268-14 14 0 7.732 6.268 14 14 14 7.732 0 14-6.268 14-14 0-7.732-6.268-14-14-14z" fill="currentColor"></path></svg></span></a>
              <!-- /wp:wpzoom-video-popup-block/block -->

              <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
              <p class="has-text-align-center has-large-font-size"></p>
              <!-- /wp:paragraph --></div></div>
            <!-- /wp:cover --></div>
          <!-- /wp:column -->

          <!-- wp:column -->
          <div class="wp-block-column"><!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group"><!-- wp:heading {"level":3} -->
              <h3>Student Success Coaches</h3>
              <!-- /wp:heading -->

              <!-- wp:paragraph -->
              <p>Overview of Services<br>January 18th, 2021</p>
              <!-- /wp:paragraph --></div>
            <!-- /wp:group --></div>
          <!-- /wp:column --></div>
        <!-- /wp:columns --></div>
      <!-- /wp:group --></div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar-1","theme":"rutgers"} /--></div>
    <!-- /wp:column --></div>
  <!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"rutgers"} /-->