<!-- wp:template-part {"slug":"header","theme":"rutgers","tagName":"header"} /-->

<!-- wp:group {"className":"ta-qucklinks-2","layout":{"type":"constrained"}} -->
<div class="wp-block-group ta-qucklinks-2"><!-- wp:navigation {"ref":19,"overlayMenu":"never","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"blockGap":"var:preset|spacing|10"}},"fontSize":"fs-small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"ta-mobile-search","layout":{"type":"constrained"}} -->
<div class="wp-block-group ta-mobile-search"><!-- wp:search {"label":"","showLabel":false,"placeholder":"Search","width":100,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"alignfull","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":""} -->
    <div class="wp-block-columns"><!-- wp:column {"width":"70%"} -->
        <div class="wp-block-column" style="flex-basis:70%"><!-- wp:group {"layout":{"type":"constrained"}} -->
            <div class="wp-block-group"><!-- wp:heading {"level":1,"className":"text-clr-primary"} -->
                <h1 class="text-clr-primary">Faculty &amp; Staff</h1>
                <!-- /wp:heading --></div>
            <!-- /wp:group -->

            <!-- wp:heading {"className":"ta-secondary-heading"} -->
            <h2 class="ta-secondary-heading">Student Success Coaches</h2>
            <!-- /wp:heading -->

            <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|sp-base","left":"var:preset|spacing|sp-base"}}}} -->
            <div class="wp-block-columns"><!-- wp:column {"style":{"border":{"width":"0px","style":"none"}}} -->
                <div class="wp-block-column" style="border-style:none;border-width:0px"><!-- wp:block {"ref":419} /--></div>
                <!-- /wp:column -->

                <!-- wp:column {"style":{"border":{"width":"0px","style":"none"}},"backgroundColor":"clr-white","className":"ta-staff-card"} -->
                <div class="wp-block-column ta-staff-card has-clr-white-background-color has-background" style="border-style:none;border-width:0px"><!-- wp:block {"ref":419} /--></div>
                <!-- /wp:column --></div>
            <!-- /wp:columns -->

            <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|sp-base","left":"var:preset|spacing|sp-base"}}}} -->
            <div class="wp-block-columns"><!-- wp:column {"style":{"border":{"width":"0px","style":"none"}}} -->
                <div class="wp-block-column" style="border-style:none;border-width:0px"><!-- wp:block {"ref":419} /--></div>
                <!-- /wp:column -->

                <!-- wp:column {"style":{"border":{"width":"0px","style":"none"}},"backgroundColor":"clr-white","className":"ta-staff-card"} -->
                <div class="wp-block-column ta-staff-card has-clr-white-background-color has-background" style="border-style:none;border-width:0px"><!-- wp:block {"ref":419} /--></div>
                <!-- /wp:column --></div>
            <!-- /wp:columns --></div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"30%"} -->
        <div class="wp-block-column" style="flex-basis:30%"><!-- wp:template-part {"slug":"sidebar-1","theme":"rutgers"} /--></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"rutgers"} /-->