@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import-glob "./inc/overrides/**/*.pcss";
@import-glob "./inc/parts/**/*.pcss";
@import-glob "./inc/patterns/**/*.pcss";
@import-glob "./inc/templates/**/*.pcss";

@import "/inc/global.pcss";
