@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import-glob "./inc/overrides/**/*.css";
@import-glob "./inc/parts/**/*.css";
@import-glob "./inc/patterns/**/*.css";
@import-glob "./inc/templates/**/*.css";

@import "global.css";
