@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*Import variables*/
@import "inc/_variables.pcss";

/* Resets */
@import "inc/_reset.pcss";

/*Import Block/Templates/Patterns Styles*/
@import-glob "./inc/overrides/**/*.pcss";

/* Import tempates, parts, patterns related styles */
@import "inc/_templates.pcss";
@import "inc/_template-parts.pcss";
@import "inc/_block-patterns.pcss";

@import "inc/_global.pcss";
