@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    @apply font-sans;
}


.block-editor-block-list__block, .block-editor-block-list__block * {
    white-space: normal!important;
}

/* Site Logo */

a.custom-logo-link {
    @apply block;
}