/* ------------------- */
/* Custom variables   */
/* ------------------- */

:root {

  /*************** Colors ***************/
  /* Configured in theme.json */
  /*
  - Can be used with "text-", "bg-", "border-"
  - Tailwind based names
----------------------------------------
  clr-base - #F4F4F4 // Rutgers Light Grey
  clr-primary - #CC0033 // Rutgers Red
  clr-secondary - #5F6A72 // Rutgers Dark grey
  clr-white - #fff
  clr-black - #000

  */

  /*************** Font Sizes ***************/
  /* Configured in theme.json */
  /*
  - Tailwind based names
  ----------------------------------------
  text-fs-small - 14px
  text-fs-base - 16px
  text-fs-medium - 20px
  text-fs-large - 24px
  text-fs-x-large - 50px
  text-fs-max-36 - 36px
  text-fs-max-48 - 48px
  text-fs-max-60 - 60px
  text-fs-max-72 - 72px

  - WP based custom names
  ----------------------------------------

  --wp--custom--typography--font-size--fs-huge
  --wp--custom--typography--font-size--fs-gigantic
  --wp--custom--typography--font-size--fs-colossal


  */

  /*************** Font Families ***************/
  /* Configured in theme.json */
  /*
  - WP based names
  ----------------------------------------
  */
  --ff-sans: var(--wp--preset--font-family--ff-source-sans);


  /*************** Font Weights ***************/
  /* Configured in theme.json */
  /*
  - WP based names
  ----------------------------------------

  --wp--custom--typography--font-weight--fw-thin: 100;
  --wp--custom--typography--font-weight--fw-extra-light: 200;
  --wp--custom--typography--font-weight--fw-light: 300;
  --wp--custom--typography--font-weight--fw-regular: 400;
  --wp--custom--typography--font-weight--fw-medium: 500;
  --wp--custom--typography--font-weight--fw-semi-bold: 600;
  --wp--custom--typography--font-weight--fw-bold: 700;
  --wp--custom--typography--font-weight--fw-extra-bold: 800;
  --wp--custom--typography--font-weight--fw-black: 900;

  */


  /*************** Line Heights ***************/
  /* Configured in theme.json */
  /*
  - WP based names
  ----------------------------------------
  --wp--custom--typography--line-height--lh-body      // 1.75
  --wp--custom--typography--line-height--lh-heading   // 1.1
  --wp--custom--typography--line-height--lh-medium    // 1.5
  --wp--custom--typography--line-height--lh-one       // 1

  */



  /*************** Spacing ***************/
  /* Configured in theme.json */
  /*
  - WP based names
  ----------------------------------------
  --wp--preset--spacing--sp-01  // 0.125rem - 2px;
  --wp--preset--spacing--sp-02  // 0.25rem - 4px;
  --wp--preset--spacing--sp-05  // 0.5rem - 8px;
  --wp--preset--spacing--sp-10  // 1rem - 16px;
  --wp--preset--spacing--sp-15: // 1.5rem - 24px;
  --wp--preset--spacing--sp-20: // 2rem - 32px;
  --wp--preset--spacing--sp-25: // 2.5rem - 40px;
  --wp--preset--spacing--sp-30: // 3rem - 48px;
  --wp--preset--spacing--sp-35: // 3.5rem - 56px;
  --wp--preset--spacing--sp-40: // 4rem - 64px;

  */

  /*************** layout Sizes ***************/
  /* Configured in theme.json */
  /*
  - WP based names
  ----------------------------------------
   --wp--style--global--content-size         // 1200px;
   --wp--style--global--wide-size             // 1280px;

  */

  /*************** Block Gap ***************/
  /* Configured in theme.json */
  /*
  - WP based names
  ----------------------------------------
   --wp--style--block-gap

  */



}